:root {
  --main-white: #EEEEEE; /* Light mode: Background color, Dark mode: Font color */
  --main-dark: #393E46; /* Dark mode: Background color, Light mode: Font color */
  --darker-dark: #222831; /* dunno */
  --accent-color: #FFD369; /* Titles, buttons */
  --alternative-accent: #45567d;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
